<template>
  <div id="app" class="container">
    <h1>Cat Clicker</h1>
    <div class="row">
      <div class="col-md-4">
        <cat-list :cats="cats"></cat-list>
      </div>
      <div class="col-md-8">
        <cat-item :cat="selectedCat"></cat-item>
      </div>
    </div>
  </div>
</template>

<script>

import { eventBus } from './main.js'
import CatList from './components/catList.vue'
import CatItem from './components/catItem.vue'

export default {
  name: 'app',
  components: {
    'cat-list': CatList,
    'cat-item': CatItem
  },
  data() {
    return {
      selectedCat: {},
      cats: [
        {
          name: 'vanilla',
          src: '/assets/vanilla.jpg',
          clicked: 0
        },
        {
          name: 'Vienna',
          src: '/assets/vienna.jpg',
          clicked: 0
        },
        {
          name: 'Mocha',
          src: '/assets/mocha.jpg',
          clicked: 0
        },
        {
          name: 'Espresso',
          src: '/assets/espresso.jpg',
          clicked: 0
        },
        {
          name: 'Latte',
          src: '/assets/latte.jpg',
          clicked: 0
        }
      ]
    }
  },
  created() {
    eventBus.$on('cat-clicked', (cat) => {
      this.selectedCat = cat;
    });
  }
}
</script>

<style scoped>
h1 {
  font-family: 'Lobster', cursive;
}
</style>
