<template>
  <div>
    <h4>Buy one get One</h4>
    <ul>
      <li v-for="(coupon, index) in coupons" :key='index'>
        <p>You have {{ coupon.length }} {{ (coupon.length > 1)? 'coupons': 'a coupon' }} with description: {{ coupon.description }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import MaxMinAvg from './MaxMinAvg.vue'

export default {
  props: ['coupons']
}
</script>
