<template>
  <div>
    <h4>Discount coupons</h4>
    <ul>
      <li v-for="(coupon, discount_value, index) in coupons" :key='index'>
        <p>You have {{ coupon.length }} {{ (coupon.length > 1)? 'coupons': 'coupon' }} with value: {{ discount_value }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['coupons']
}
</script>
