<template>
  <div>
    <h4>Dollar Off</h4>
    <ul>
      <li v-for="(coupon, discount_value, index) in couponsByValue" :key='index'>
        <p>You have {{ coupon.length }} {{ (coupon.length > 1)? 'coupons': 'coupon' }} with discount of: {{ discount_value }}$</p>
      </li>
    </ul>
    <p>Coupons data:</p>
    <coupons-max-min-avg :data="coupons"></coupons-max-min-avg>
  </div>
</template>

<script>
import MaxMinAvg from './MaxMinAvg.vue'

export default {
  components: {
    'coupons-max-min-avg': MaxMinAvg
  },
  props: ['coupons', 'couponsByValue']
}
</script>
