<template>
  <div>
    <h4>Get data from title </h4>
    <div class="wordsLimit">
      <p>Insert the number of words</p>
      <input v-model="maxTimesWordAppears">
    </div>
    <ul>
      <li v-for="data in titleMostUsedWords" :key="data.word">
        {{data.word}} appears {{data.count}} times
      </li>
    </ul>
    <h4>Get data from description </h4>
    <ul>
      <li v-for="data in descriptionMostUsedWords" :key="data.word">
        {{data.word}} appears {{data.count}} times
      </li>
    </ul>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  props: ['coupons'],
  data() {
    return {
      maxTimesWordAppears: 5
    }
  },
  computed: {
    titleMostUsedWords() {
      var data = this.getWordsCount(this.coupons, 'title');
      data = _.dropRight(data, data.length - this.maxTimesWordAppears);
      return data;
    },
    descriptionMostUsedWords() {
      var data = this.getWordsCount(this.coupons, 'description');
      data = _.dropRight(data, data.length - this.maxTimesWordAppears);
      return data;
    }
  },
  methods: {
    getWordsCount(coupons, field) {
      var words = _.map(coupons, field); //get field content
      var tempArray = [];

      words = [].concat.apply([], _.map(words, (sentence) => { //get all the words inside sentences with no spaces
        return _.map(_.split(sentence, ' '), _.trim);
      }));

      words = _.countBy(_.map(words, (word) => {
        if (word.match(/^[a-z]+$/i) !== null) { //only alphabetic characters
          return word;
        }
      }));

      delete words[undefined]; //delete undefined word inside words array

      Object.keys(words).forEach(function(key) { //for each word create a new object with { word: 'wordX', count: number of word into text field }
        tempArray.push({ word: key, count: words[key] });
      });

      words = _.orderBy(tempArray, ['count'], ['desc']); //order array desc by field count
      return words;
    }
  }
}
</script>

<style scoped>
.wordsLimit input {
  margin: 2em 0;
  padding: 12px;
}

</style>
