<template>
  <div>
    <div class="data">
      <div class="max">
        <h1>max</br>
          <span>{{ shopCoupons.max.value }}</span>
        </h1>
      </div>
      <div class="avg">
        <h1>avg</br>
          <span>{{ shopCoupons.avg }}</span>
        </h1>
      </div>
      <div class="min">
        <h1>min</br>
          <span>{{ shopCoupons.min.value }}</span>
        </h1>
      </div>
    </div>
    <div class="description">
      <h2>Max coupon discount description</h2>
      <p>description: {{ shopCoupons.max.description }}</p>
      <h2>Min coupon discount description</h2>
      <p>description: {{ shopCoupons.min.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  computed: {
    shopCoupons() {
      return this.getMaxMinAvgFrom(this.data);
    }
  },
  methods: {
    getMaxMinAvgFrom(coupons) {
      var result = {
        max: 0,
        min: 0,
        avg: 0
      };

      result.avg = _.round(_.meanBy(coupons, 'value'));
      result.max = _.maxBy(coupons, 'value');
      result.min = _.minBy(coupons, 'value');
      return result;
    }
  }
}
</script>

<style scoped>
h1 {
  display: inline-block;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}


h2 {
  display: inline-block;
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 50px;
  text-align: center;
}

p {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.data {
  margin-bottom: 55px;
}
.max,
.min,
.avg {
  display: inline-block;
}

.max h1 {
  font-size: 150px;
}

.min, .avg {
  margin-left: 20px;
}

.avg h1 {
  font-size: 100px;
}

.min h1 {
  font-size: 50px;
}
</style>
