<template>
  <div>
    <ul class="trademarks">
      <li v-for="(shopCoupons, shop, index) in coupons" :key='shop' @click="shopClicked(shop)">
        <img :src="logos[shop]">
      </li>
    </ul>
  </div>
</template>

<script>

import { eventBus } from '../main'

export default {
  props: ['coupons'],
  data() {
    return {
      logos: {
        'macys': './src/assets/macys.png',
        'nordstrom': './src/assets/nordstrom.png',
        'nike': './src/assets/nike.png'
      },
      shopSelected: 'macys'
    }
  },
  methods: {
    getCouponsByShop(coupons, shop) {
      return _.filter(coupons, { 'webshop_id': shop });
    },
    shopClicked(shop) {
      eventBus.$emit('shop-clicked', shop);
    }
  }
}
</script>

<style scoped>
.trademarks {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

.trademarks li {
  margin-bottom: 50px;
  padding: 0px;
}

.trademarks li:first-child {
  margin-top: 50px;
}

.trademarks li img {
  width: 100%;
}

.trademarks li img:hover {
  margin-left: 10px;
  cursor: pointer;
}

</style>
