<template>
  <div>
    <div class="row">
      <h2>Coupons data for {{ shop }}</h2>
      <coupons-max-min-avg :data="coupons"></coupons-max-min-avg>
    </div>
  </div>
</template>

<script>
import MaxMinAvg from './MaxMinAvg.vue'

export default {
  props: ['shop', 'coupons'],
  data() {
    return {
      logos: {
        'macys': './src/assets/macys.png',
        'nordstrom': './src/assets/nordstrom.png',
        'nike': './src/assets/nike.png'
      }
    }
  },
  components: {
    'coupons-max-min-avg': MaxMinAvg
  },
  methods: {
    getCouponsByShop(coupons, shop) {
      return _.filter(coupons, { 'webshop_id': shop });
    }
  }
}
</script>

<style scoped>
.trademarks {
  list-style: none;
}
.trademarks li {
  margin-bottom: 50px;
}
</style>
