<template>
  <div id="app" class="container">
    <h1>Cat Clicker</h1>
    <cat-item v-for="(cat, index) in cats" :key="index" :cat="cat"></cat-item>
  </div>
</template>

<script>
import CatItem from './components/catItem.vue'

export default {
  name: 'app',
  components: {
    'cat-item': CatItem
  },
  data() {
    return {
      cats: [
        {
          name: 'vanilla',
          src: '/assets/vanilla.jpg',
          clicked: 0
        },
        {
          name: 'Vienna',
          src: '/assets/vienna.jpg',
          clicked: 0
        }
      ]
    }
  }
}
</script>

<style scoped>
h1 {
  font-family: 'Lobster', cursive;
}
</style>
