<template>
  <div>
    <ul>
      <li v-for="(cat, index) in cats" :key="index" @click="show(index)">{{cat.name}}</li>
    </ul>
  </div>
</template>

<script>
import { eventBus } from '../main.js'

export default {
  props: ['cats'],
  methods: {
    show(index) {
      eventBus.$emit('cat-clicked', this.cats[index]);
    }
  }
}
</script>

<style scoped>
ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: block;
  background-color: #c9c9ff;
  text-align: center;
  color: white;
  padding: 20px 10px 20px 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

ul li:hover {
  background-color: #e1f7d5;
  color: black;
}
</style>
