/* Header section */
/* -------------- */
header {
    height: 60px;
}

.navbar > div {
    width: 100%;
}

/* section main */
/* ------------ */
section.main {
    padding: 20px 0 20px 0;
    margin-bottom: 60px; /* footer height */
}

/* pictures */
/* -------- */
ul.pictures {
    margin: 20px 0 20px 0;
    list-style: none;
    padding: 0;
}

ul.pictures li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 0;
}

/* picture */
/* ------- */
.picture .description {
    padding: 10px;
    margin-bottom: 3rem; /* button height */
}

.picture .img-container {
    height: 200px;
    background-position: center;
    background-size: cover;
}

.picture .img-container img {
    width: 100%;
}

.picture button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    height: 3rem;
}

/* Footer section */
/* -------------- */
footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    padding: .5rem 1rem;
}

/* Media queries */
/* ------------  */

/* main */
/* -------- */
@media (max-width: 586px) {
    .main h1 {
        padding-left: 15px;
    }
}

/* pictures */
/* -------- */
@media (max-width: 586px) {
    ul.pictures {
        padding-left: 15px;
    }
}