<template>
  <div id="app" class="container">
    <h1>Cat Clicker</h1>
    <div class="cat-container" @click="catClicked">
      <img class="img-fluid" :src="'./src/' + cat.src" />
      <h1 class="click">{{ cat.clicked }}</h1>
      <p class="name">{{ cat.name }}</p>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app',
  data() {
    return {
      selectedCat: {},
      cat: {
        name: 'vanilla',
        src: '/assets/vanilla.jpg',
        clicked: 0
      }
    }
  },
  methods: {
    catClicked() {
      this.cat.clicked++;
    }
  }
}
</script>

<style scoped>
h1 {
  font-family: 'Lobster', cursive;
}

.cat-container {
  position: relative;
}

img {
  width: 100%;
}

.click {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: white;
}

.name {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  color: white;
  border: 4px double rgba(255, 255, 255, .25);
  border-width: 4px 0;
  padding: 15px 0;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 100%;
  margin: 0 0 0 -50%;
  text-align: center;
}
</style>
